@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Samtel S.A.<br />
    Calle 37 # 17 - 20<br />
    <abbr title="Telefono">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">Support@Samtel.com</a><br />
    <strong>Ventas:</strong> <a href="mailto:Marketing@example.com">Marketing@Samtel.com</a>
</address>
