<p>tables works!</p>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 form-group">
    <div class="">
      <table class="table table-hover">
        <thead class="thead-dark">
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col" colspan="2">Acción</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index" [ngClass]="{'selected': user.edit}">
            <td>{{ user.nombre }}</td>
            <td>{{ user.apellido }}</td>
            <td>
              <button type="button" class="btn btn-default btn-sm" (click)="editUser(user)">
                Editar
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-default btn-sm" (click)="deleteUser(user, i)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
