
<div class="container">

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12  form-group">
          <form [formGroup]="formPerson">
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" formControlName="name" required>
              <div *ngIf="formPerson.controls.name.errors" class="has-error">
                <div *ngIf="formPerson.controls.name.errors.required">Nombre requerido</div>
              </div>
            </div>
            <div class="form-group">
              <label>Apellido</label>
              <input type="text" class="form-control" formControlName="surname" required>
              <div *ngIf="submitted && formPerson.controls.surname.errors" class="has-error">
                <div *ngIf="formPerson.controls.surname.errors.required">Apellido requerido</div>
              </div>
            </div>
            <!--<div class="form-group">
             // <label>Genero</label>
              <select class="form-control" (change)="changeUser($event)" formControlName="user">
                <option value="" disabled>Seleccione una opcion</option>
                <option *ngFor="let user of users" [ngValue]="user">{{user.name}} {{user.surname}}</option>
              </select>
            </div>--> 
          </form>
          <div class="col-sm-6" style="text-align: end;">
            <button type="button" class="btn btn-primary" (click)="aceptar()"
                    [disabled]="!formPerson.valid">Guardar</button>
          </div>
        </div>
      </div>
    
</div>
